<div class="pt-5" id="changePasswordWrapper">
  <div class="row">
    <div class="col-md-6 mx-auto" id="formChangePasswordWrapper">
      <!-- Default form register -->
      <form class="form text-center border border-light p-5" [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()"  id="changePasswordBox">

        <div id="topBox">
          <div>
            <button mat-icon-button>
              <mat-icon (click)="navigateToLoginOrHome()">arrow_back_ios</mat-icon>
            </button>
          </div>
          <div><p class="h4 mb-4">Password reset </p></div>
          <div><mat-icon style="opacity: 0.0">arrow_back_ios</mat-icon></div>
        </div>

        <!-- Password -->
        <mat-form-field appearance="outline" class="modal-input-full-width">
          <mat-label class="modal-label">New Password</mat-label>
          <input formControlName="password" formGroupName="password"
                 id="inputPassword" matInput
                 placeholder="Your new password" required type="password">
          <mat-hint *ngIf="f.password.errors && f.password.errors.required && submitted" class="control-label invalid-input-text">
            Can't be empty!
          </mat-hint>
          <mat-hint *ngIf="f.password.errors && f.password.errors.minlength" class="control-label invalid-input-text">
            Password must be at least 8 characters long!
          </mat-hint>
          <mat-hint *ngIf="f.password.errors && f.password.errors.pattern && !f.password.errors.minlength" class="control-label invalid-input-text">
            Password must contain at least one digit!
          </mat-hint>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline" class="modal-input-full-width">
          <mat-label class="modal-label">Confirm</mat-label>
          <input formControlName="passwordConfirm" formGroupName="passwordConfirm"
                 id="passwordConfirm" matInput required type="password">
          <mat-hint *ngIf="f.passwordConfirm.errors && f.passwordConfirm.errors.required && submitted" class="control-label invalid-input-text">
            Password confirmation is required!
          </mat-hint>
          <mat-hint *ngIf="f.passwordConfirm.errors && f.passwordConfirm.errors.passwordsDifferent" class="control-label invalid-input-text">
            Passwords must match!
          </mat-hint>
        </mat-form-field>

        <!-- Confirm button -->
        <button mat-raised-button type="submit">Change password</button>

        <hr>

        <!-- Required meaning -->
        <p class="input-text-help help-left"><em>*  required field</em></p>

      </form>
    </div>
  </div>
</div>
