.flex-grid {
  display:flex;
}

.space-name {
  color: #2B7A78;
  display: inline-block;
}

.col {
  padding: 0px;
}

#listOfSpaces {
  flex: 1 1 auto;
  max-width: 100%;
  min-width: 50%;
  padding-right: 1px;
}

.listOfSpaceDocuments {
  min-width: 50%;
}

.mat-list-base {
  padding-top: 1px;
}

#spacesListItem {
  height: 100px !important; /** experiment with height **/
  width: 100%;
  background-color: #FEFFFF;
}

.mat-card-content {
  width: 100%;
}

.highlighted {
  background-color: lightgrey !important;
}


/* Copy to every page scss with a search bar*/
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #FEFFFF !important;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #FEFFFF !important;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #FEFFFF !important;;
}

.invalid-input-text {
  user-select: none;
  color: #d93025;
  display: block;
  text-align: left;
}
.modal-input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
