<!-- Error messages should have use the same principle -->
<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{successMessage}}</strong> {{ errorMessage }}
  <button type="button" (click)="vanishSuccessMessage()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<h3 style="margin-left: 45%; color: #17a2b8">Document Space</h3>

<div class="mt-4 container">
  <div class="row p-2 mb-4">
    <button type="button" class="btn btn-sm mr-4" style="background-color: #ffc7a4" data-toggle="modal"
            data-target=".create-space-modal">
      Create a space
    </button>

    <!--Create space modal-->
    <div class="modal fade create-space-modal" tabindex="-1" role="dialog" aria-labelledby="Create space modal"
         aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="#!" class="text-center border border-light p-5" [formGroup]="spaceForm">

              <p class="h4 mb-4">New document space</p>
              <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name">

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info float-right" (click)="createSpace()" data-dismiss="modal">Save
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex-grid">

  <div class="col">
    <div *ngFor="let space of getSpaces()">

      <div class="card" (click)="loadSpaceDetails(space.id); setSelectSpace(space)"  >

        <div class="card-body">
          <div class="card-title">
            <h5 class="space-name">Name: {{space.name}}</h5>
            <span (click)="setCurrentSpace(space)" class="close" data-toggle="modal" data-target=".delete-space-modal">x</span>
            <span (click)="setCurrentSpace(space)" class="close" style="margin-right:5%;" data-toggle="modal" data-target=".edit-space-modal"><img
              src="../../../assets/edit.png" width="15px;"></span>
            <span (click)="setCurrentSpace(space)" class="close" style="margin-right:5%;" data-toggle="modal" data-target=".upload-file-modal"><img
              src="../../../assets/upload-logo.png" width="25px;"></span>

            <!-- file upload modal -->
            <div *ngIf="currentSpace" data-backdrop="static" data-keyboard="false" class="modal fade upload-file-modal"
                 tabindex="-1"
                 role="dialog" aria-label="Upload Files"
                 aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">File Upload {{getCurrentSpace().name}}</h5>
                  </div>

                  <div class="modal-body">
                    <div style="max-width: 100%" class="form-group">
                      <div *ngIf="fileUploadModuleError" class="alert alert-warning alert-dismissible fade show"
                           role="alert">
                        <strong>{{fileUploadModuleErrorMessage}}</strong> {{ errorMessage }}
                      </div>
                      <!-- TODO: how to avoid input tag file number display (inconsistent when user removes some files) -->
                      <input [value]="filesToUploadNames" class="hide-text" type="file" id="files" value="name"
                             (change)="handleFileInput($event.target.files)" accept=".pdf,.mp3,.mp4,.jpeg,.png"
                             multiple>
                      <!--<label for="files">Choose files </label>-->
                    </div>
                    <div *ngIf="filesToUpload.length>0">
                      <label for="files">Names of files to upload: </label>
                      <mat-card *ngFor="let file of getFilesToUpload(); let i = index"
                                style="padding-bottom: 1em">
                        {{file.name}}
                        <button mat-button (click)="removeFileFromList(i)" data-toggle="modal" aria-label="Remove">
                          <span aria-hidden="true">&times;</span>
                        </button>
                         <!--<span (click)="removeFileFromList(i)" class="close" data-toggle="modal">&times;</span>-->
                      </mat-card>
                    </div>

                  </div>

                  <div class="modal-footer">
                    <button *ngIf="filesReadyForUpload()" type="button" class="btn btn-info" data-dismiss="modal"
                            (click)="uploadFiles(currentSpace)">Submit
                    </button>
                    <button (click)="clearInputFiles()" type="button" class="btn btn-secondary" data-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!--Edit space modal-->
            <div *ngIf="currentSpace" class="modal fade edit-space-modal" tabindex="-1" role="dialog"
                 aria-labelledby="Edit space modal"
                 aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="#!" class="text-center border border-light p-5" [formGroup]="nameEditForm">

                      <p class="h4 mb-4">New name:</p>
                      <input type="text" formControlName="name" class="form-control mb-4" placeholder="Name">

                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info float-right" (click)="saveEdits(space)"
                            data-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!--Delete space modal-->
            <div *ngIf="currentSpace" class="modal fade delete-space-modal" tabindex="-1" role="dialog"
                 aria-labelledby="Delete space modal"
                 aria-hidden="true" [attr.space]="space">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h5>Are you sure you want to delete space {{getCurrentSpace().name}}?</h5>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info float-right" (click)="deleteSpace(space.id)"
                            data-dismiss="modal">Ok
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-text"> Lorem ipsum</div>

        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <!--Document component-->
    <app-document *ngIf="selectSpace" [space]=selectSpace></app-document>
  </div>
</div>
