<div class="d-flex" id="wrapper" [ngClass]="{'toggled': toggled}" *ngIf="authService.isLoggedIn()">

  <!-- Sidebar / SIDEBARCOMPONENT-->
  <div id="sidebar-wrapper">
    <div id="title">Studyboard</div>
    <div class="list-group" id="sidenavList">
      <button mat-button [routerLink]="[{outlets:{view:'spaces'}}]">Spaces</button>
      <button mat-button [routerLink]="[{outlets:{view:'flashcards'}}]">Flashcards</button>
      <button mat-button *ngIf="authService.isLoggedIn()" routerLink="/" (click)="authService.logoutUser()">Logout</button>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <!-- NAVBAR COMPONENT -->
  <div id="page-content-wrapper" style="padding: 0">

    <mat-toolbar id="matToolbar">
      <button mat-icon-button id="menu-toggle"  (click)="onToggle()">
        <mat-icon *ngIf="!isToggled()">arrow_back_ios</mat-icon>
        <mat-icon *ngIf="isToggled()">arrow_forward_ios</mat-icon>
      </button>
    </mat-toolbar>
    <!-- NAVBAR COMPONENT -->

    <router-outlet name="view"></router-outlet>

  </div>
  <!-- /#page-content-wrapper -->

</div>

