#title {
  font-size: 2.6em;
  margin: 1.5em 0.8em;
  color: #3AAFA9;
}

span {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-weight: lighter;
  font-size: 1.5em;
}

.page-title {
  font-size: 1em;
  font-weight: lighter;
  horiz-align: center;
  vertical-align: center;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#matToolbar {
  min-height: 44px;
  max-height: 44px;
}

#matToolbar, #sidebar-wrapper, .list-group-item {
  background: #17262A !important;
  color: #def2f1;
}

.mat-button {
  font-size: larger;
  font-weight: lighter;
  height: 3.5em;
  text-align: left;
}

.help {
  border-top-color: #3AAFA9;
  margin-top: 15em;
  margin-right: 2em !important;
  margin-left: 2em !important;
}

.studyboardSmall {
  margin-top: 0.2em;
  color: #3AAFA9;
  font-weight: lighter;
  font-size: 1.5em;
  text-align: center;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
    overflow: hidden;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
