<h3 style="margin-left: 45%; color: #17a2b8">Documents of space {{space.id}}</h3>
<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{successMessage}}</strong> {{ errorMessage }}
  <button type="button" (click)="vanishSuccessMessage()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<mat-list *ngFor="let doc of getAllDocuments()">
  <mat-card>
    {{doc.name}}
    <button mat-button style="float: right" class="btn btn-outline-secondary" (click)="deleteDocument(doc)">Delete
    </button>
  </mat-card>
</mat-list>
