.mat-list-base {
  padding-top: 1px;
}

.mat-list-item {
  height: 49.5px;
  background-color: #FEFFFF;
}

.mat-list-item:hover {
  background-color: lightgrey !important;
}

.document-name {
  display: inline-block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
