.mat-list-base {
  padding-top: 1px;
}

.mat-list-item {
  height: 49.5px;
  background-color: #FEFFFF;
}

.mat-list-item:hover {
  background-color: lightgrey !important;
}

.document-name {
  display: inline-block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.warningMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40em;
  color: grey;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
