<div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{successMessage}}</strong> {{ errorMessage }}
  <button type="button" (click)="vanishSuccessMessage()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<mat-nav-list *ngFor="let doc of getAllDocuments()">
  <mat-list-item>
    <mat-card-content style="height: 25px; width: 100%">
      <mat-card-title>
        <h3 class="document-name">
          {{doc.name}}
        </h3>
        <span class="close" (click)="deleteDocument(doc)" style="float: right">
        <mat-icon>delete</mat-icon>
     </span>
      </mat-card-title>
    </mat-card-content>
  </mat-list-item>
</mat-nav-list>

