<div class="pt-5" id="loginWrapper">
  <div class="row">
    <div class="col-md-6 mx-auto" id="formLoginWrapper">
      <!-- Default form login -->
      <form class="text-center border border-light p-5" [formGroup]="loginForm" (ngSubmit)="loginUser()" id="loginBox">

        <p class="h4 mb-4">Login</p>

        <div class="form-group">
          <!-- Username -->
          <mat-form-field appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Username</mat-label>
            <input formControlName="username" formGroupName="username"
                   id="username" matInput
                   placeholder="Your username" required type="text">
            <mat-hint *ngIf="loginForm.controls.username.errors && submitted" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
          </mat-form-field>

          <!-- Password -->
          <mat-form-field appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Password</mat-label>
            <input formControlName="password" formGroupName="password"
                   id="password" matInput
                   placeholder="Your password" required type="password">
            <mat-hint *ngIf="loginForm.controls.password.errors && submitted" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-around">
          <!--div>
            <a mat-button>Remember me</a>
          </div-->
          <div>
            <!-- Forgot password -->
            <a mat-button type="button" (click)="navigateToPasswordReset()">Forgot password?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <button mat-raised-button type="button" (click)="loginUser()">Sign in</button>

        <!-- Register -->
        <div id="registerDiv">
          <p style="margin-bottom: 0em">Not a member?</p>
          <a mat-button type="button"  (click)="navigateToRegister()">Register</a>
        </div>
      </form>
      <!-- Default form login -->

    </div>
  </div>
</div>

