html, body {
  height: 100%;
}

#formLoginWrapper {
  min-width: 28em;
  max-width: 28em;
}

#loginWrapper {
  padding-top: 7rem !important;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #3AAFA9;
  overflow-x: hidden; //horizontal
  overflow-y: hidden; //vertical
}

#loginBox {
  border-radius: 5px;
  background-color: #FEFFFF;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

#registerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mat-raised-button {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 100%;
  background-color: #3AAFA9;
  font-size: large;
}


