
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$studyboard-primary: mat-palette($mat-indigo);
$studyboard-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$studyboard-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$studyboard-theme: mat-light-theme((
  color: (
    primary: $studyboard-primary,
    accent: $studyboard-accent,
    warn: $studyboard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($studyboard-theme);

/* You can add global styles to this file, and also import other style files */
body {
  background-color: whitesmoke;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #def2f1;
}


/* Page title */
.page-title {  // aditional css properties required in component scss files
  text-align: center;
  color: white;
  margin: 0px;
  padding: 0.3em;
}
.page-title-wrapper{
  height: 4em;
}

.page-title-small {
  color: #FEFFFF !important;
  font-weight: lighter !important;
  margin-bottom: 0 !important;
  padding-left: 25px !important;
}

/* Top of every component page */
.topPageDiv {
  background: #2b7a78;
  padding: 20px
}
.row {
  margin-bottom: 0 !important;
  padding-left: 30px !important;
}

/* Snackbars */
.warning-snackbar {
  background: #ffffba;
  color: black;
  .mat-simple-snackbar-action {
    color: black !important;
  }
}
.success-snackbar {
  background: #90EE90;
  color: black;
  .mat-simple-snackbar-action {
    color: black !important;
  }
}
.error-snackbar {
  background: #ff6666;
  color: black;
  .mat-simple-snackbar-action {
    color: black !important;
  }
}


/* Empty content message */
.warningMessageContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 40em !important;
  color: grey !important;
}
.warningMessage {
  font-weight: lighter !important;
}


/* Buttons */
.mat-icon-button, .mat-icon-button:active, .mat-icon-button:focus, {
  outline: none;
}
.mat-button, .mat-button:active, .mat-button:focus, {
  outline: none;
}
.mat-stroked-button, .mat-stroked-button:active, .mat-stroked-button:focus, {
  outline: none;
}
.mat-raised-button, .mat-raised-button:active, .mat-raised-button:focus, {
  outline: none;
}

.mat-raised-button {
  background-color: #2b7a78;
  color: white;
}

.pageTopBarButton {
  height: fit-content !important;
  margin: 8px 10px !important;
  border-color: #FEFFFF !important;
  color: #FEFFFF !important;
}

.pageTopBarSearchField {
  height: 50px !important;
  margin: 0px 10px !important;
}

/* Display mat-select fields over the modal (depth adjustment) */
.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; }



/* Modal windows */
.mat-hint {
  color: grey !important;
}
.modal-header {
  text-align: center !important;
}
.modal-title {
  margin: 0 !important;
  font-weight: normal !important;
}
.modal-input-full-width {
  width: 100%;
}
.modal-input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}



