<div class="pt-5" id="registerWrapper">
  <div class="row">
    <div class="col-md-6 mx-auto" id="formRegisterWrapper">
      <!-- Default form register -->
      <form class="form text-center border border-light p-5" [formGroup]="registerForm" (ngSubmit)="registerUser()"  id="registerBox">

        <div id="topBox">
          <div>
            <button mat-icon-button>
              <mat-icon (click)="navigateToLogin()">arrow_back_ios</mat-icon>
            </button>
          </div>
          <div><p class="h4 mb-4">Sign up</p></div>
          <div><mat-icon style="opacity: 0.0">arrow_back_ios</mat-icon></div>
        </div>

        <!-- Username -->
        <mat-form-field appearance="outline" class="modal-input-full-width">
          <mat-label class="modal-label">Username</mat-label>
          <input formControlName="username" formGroupName="username"
                 id="inputUsername" matInput
                 placeholder="Your username" required type="text">
          <mat-hint *ngIf="f.username.errors && submitted" class="control-label invalid-input-text">
            Can't be empty!
          </mat-hint>
        </mat-form-field>

        <!-- E-mail -->
        <mat-form-field appearance="outline" class="modal-input-full-width">
          <mat-label class="modal-label">Email</mat-label>
          <input formControlName="email" formGroupName="email"
                 id="inputEmail" matInput
                 placeholder="Your email" required type="text">
          <mat-hint *ngIf="f.email.errors && f.email.errors.required && submitted" class="control-label invalid-input-text">
            Can't be empty!
          </mat-hint>
          <mat-hint *ngIf="f.email.errors && !f.email.errors.required" class="control-label invalid-input-text">
            Invalid email form!
          </mat-hint>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="outline" class="modal-input-full-width">
          <mat-label class="modal-label">Password</mat-label>
          <input formControlName="password" formGroupName="password"
                 id="inputPassword" matInput
                 placeholder="Your password" required type="password">
          <mat-hint *ngIf="f.password.errors && f.password.errors.required && submitted" class="control-label invalid-input-text">
            Can't be empty!
          </mat-hint>
          <mat-hint *ngIf="f.password.errors && f.password.errors.minlength" class="control-label invalid-input-text">
            Password must be at least 8 characters long!
          </mat-hint>
          <mat-hint *ngIf="f.password.errors && f.password.errors.pattern && !f.password.errors.minlength" class="control-label invalid-input-text">
            Password must contain at least one digit!
          </mat-hint>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="outline" class="modal-input-full-width">
          <mat-label class="modal-label">Confirm</mat-label>
          <input formControlName="passwordConfirm" formGroupName="passwordConfirm"
                 id="passwordConfirm" matInput required type="password">
          <mat-hint *ngIf="f.passwordConfirm.errors && f.passwordConfirm.errors.required && submitted" class="control-label invalid-input-text">
            Password confirmation is required!
          </mat-hint>
          <mat-hint *ngIf="f.passwordConfirm.errors && f.passwordConfirm.errors.passwordsDifferent" class="control-label invalid-input-text">
            Passwords must match!
          </mat-hint>
        </mat-form-field>

        <!-- Sign up button -->
        <button mat-raised-button type="submit">Sign up</button>

        <hr>

        <!-- Required meaning -->
        <p class="input-text-help help-left"><em>*  required field</em></p>

      </form>
      <!-- Default form register -->
    </div>
  </div>
</div>
