<div class="pt-5" id="registerWrapper">
  <div class="row">
    <div class="col-md-6 mx-auto" id="formRegisterWrapper">
      <!-- Default form register -->
      <form class="form text-center border border-light p-5" [formGroup]="registerForm" (ngSubmit)="registerUser()"  id="registerBox">

        <div id="topBox">
          <div>
            <button mat-icon-button>
              <mat-icon (click)="navigateToLogin()">arrow_back_ios</mat-icon>
            </button>
          </div>
          <div><p class="h4 mb-4">Sign up</p></div>
          <div><mat-icon style="opacity: 0.0">arrow_back_ios</mat-icon></div>
        </div>

        <!-- Username -->
        <div class="form-group mb-4">
          <input type="text" name="username" formControlName="username" class="form-control" id="inputUsername"
                 aria-describedby="usernameHelp" placeholder="Username *" [ngClass]="(f.username.errors && submitted ? 'input-field-invalid':'')">
          <span class="control-label invalid-input-text" *ngIf="f.username.errors && submitted">
              Username is required!
          </span>
        </div>

        <!-- E-mail -->
        <div class="form-group mb-4">
          <input type="email" name="email" formControlName="email" class="form-control" id="inputEmail"
                 aria-describedby="emailHelp" placeholder="E-mail *" [ngClass]="(f.email.errors && submitted ? 'input-field-invalid':'')">
          <span class="control-label invalid-input-text" *ngIf="f.email.errors && f.email.errors.required && submitted">
              Email is required!
          </span>
          <span class="control-label invalid-input-text" *ngIf="f.email.errors && !f.email.errors.required && submitted">
              Invalid email form!
          </span>
        </div>

        <!-- Password -->
        <div class="form-group mb-4">
          <input type="password" name="password" formControlName="password" class="form-control" id="inputPassword"
                 aria-describedby="passwordHelp" placeholder="Password *" (keyup)="registerForm.controls['passwordConfirm'].updateValueAndValidity()"
                 [ngClass]="(f.password.errors && submitted ? 'input-field-invalid':'')">
          <span class="input-text-help" *ngIf="!submitted">Use at least 8 characters and 1 digit.</span>
          <span class="control-label invalid-input-text" *ngIf="f.password.errors && f.password.errors.required && submitted">
              Password is required!
          </span>
          <span class="control-label invalid-input-text" *ngIf="f.password.errors && f.password.errors.minlength && submitted">
              Password must be at least 8 characters long!
          </span>
          <span class="control-label invalid-input-text" *ngIf="f.password.errors && f.password.errors.pattern && !f.password.errors.minlength && submitted">
              Password must contain at least one digit!
          </span>
        </div>

        <!-- Confirm Password -->
        <div class="form-group mb-4">
          <input type="password" name="passwordConfirm" formControlName="passwordConfirm" class="form-control" id="passwordConfirm"
                 aria-describedby="passwordConfirmHelp" placeholder="Confirm *"
                 [ngClass]="(f.passwordConfirm.errors && submitted ? 'input-field-invalid':'')">
          <span class="control-label invalid-input-text" *ngIf="f.passwordConfirm.errors && f.passwordConfirm.errors.required && submitted">
              Password confirmation is required!
          </span>
          <span class="control-label invalid-input-text" *ngIf="f.passwordConfirm.errors && f.passwordConfirm.errors.passwordsDifferent && submitted">
              Passwords must match!
          </span>
        </div>

        <!-- Sign up button -->
        <button mat-raised-button type="submit">Sign up</button>

        <hr>

        <!-- Required meaning -->
        <p class="input-text-help help-left"><em>*  required field</em></p>

      </form>
      <!-- Default form register -->
    </div>
  </div>
</div>
