<div class="topPageDiv">
  <div class="row p-2 mb-4">

    <mat-form-field class="pageTopBarSearchField">
      <mat-placeholder style="color: #FEFFFF">Search decks</mat-placeholder>
      <input matInput style="color: #FEFFFF" title="search" type="search">
      <button aria-label="search" mat-button mat-stroked-button matSuffix style="border-color: #FEFFFF;">
        <mat-icon style="color: #FEFFFF">search</mat-icon>
      </button>
    </mat-form-field>

    <button (click)="this.viewAll=true;this.resetDeckForm();" *ngIf="!this.viewAll" class="pageTopBarButton" mat-stroked-button>
      Back to all
    </button>
    <button *ngIf="this.viewAll" (click)="this.resetDeckForm()" class="pageTopBarButton" data-target=".create-deck-modal" data-toggle="modal"
            mat-stroked-button>
      Create a deck
    </button>
    <button (click)="this.resetDecks();" class="pageTopBarButton" data-target=".create-flashcard-modal" data-toggle="modal"
            mat-stroked-button>
      Create a flashcard
    </button>
  </div>
</div>

<!--Create a deck-->
<div aria-hidden="true" aria-labelledby="Create deck modal" class="modal fade create-deck-modal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Create a new deck for flashcards</h2>
      </div>
      <div class="modal-body">
        <form class="modal-input-form">

          <mat-form-field [formGroup]="deckForm" appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Deck Title</mat-label>
            <input formControlName="title" formGroupName="title"
                   id="deckTitle" matInput
                   placeholder="eg. Math" required type="text">
            <mat-hint *ngIf="deckForm.controls.title.errors" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
          </mat-form-field>
        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="deckForm.controls.title.errors" (click)="createDeck()" data-dismiss="modal" mat-button mat-dialog-actions type="button">
          Save
        </button>
        <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--Create a flashcard-->
<div aria-hidden="true" aria-labelledby="Create flashcard modal" class="modal fade create-flashcard-modal"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Create a new flashcard</h2>
      </div>
      <div class="modal-body flashcardModalBody">
        <form class="modal-input-form">

          <!-- Question -->
          <mat-form-field [formGroup]="flashcardForm" appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Question</mat-label>
            <input formControlName="question" formGroupName="question"
                   id="question" matInput
                   placeholder="Your question" required type="text">
            <mat-hint *ngIf="flashcardForm.controls.question.errors" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
          </mat-form-field>
          <!-- Answer -->
          <mat-form-field [formGroup]="flashcardForm" appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Answer</mat-label>
            <textarea formControlName="answer" formGroupName="answer"
                      id="answer" matInput
                      placeholder="Your answer" required title="Answer"></textarea>
            <mat-hint *ngIf="flashcardForm.controls.answer.errors" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
          </mat-form-field>
          <!--Select deck-->
          <mat-form-field appearance="outline" class="mat-select">
            <mat-label>Select a deck</mat-label>
            <mat-select [(value)]="this.selectedDecksIds" class="select" multiple>
              <mat-option *ngFor="let deck of getDecks()" value="{{deck.id}}" (onSelectionChange)="updateDeckList($event.source.value)">
                {{deck.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </form>
      </div>
      <div class="modal-footer">
        <button [disabled]="flashcardForm.controls.question.errors || flashcardForm.controls.answer.errors" (click)="createFlashcard()" data-dismiss="modal" mat-button mat-dialog-actions type="button">
          Save
        </button>
        <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 10px;">
  <!-- View all decks -->
  <div *ngIf="viewAll; else elseBlockDetails">
    <div class="row" id="allDiv">

      <div *ngFor="let deck of getDecks()" class="col-xl-3 col-4 p-2">

        <div class="card">

          <div class="card-body">
            <h5 class="card-title wrapper txt-clr-dark">Title: {{deck.name}}</h5>
            <p class="card-text wrapper txt-clr-dark">Size: {{deck.size}}</p>
            <div class="wrapper"><img src="../../../assets/deck.png" width="90%;"></div>
            <div class="wrapper">
              <button (click)=" this.viewAll=false; loadFlashcards(deck);" class="btn btn-middle"
                      mat-button>
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--View details of a deck-->
  <ng-template #elseBlockDetails>
    <div id="deck-info">
    <div class="flex-container-space-between">
      <h2 class="txt-clr-dark">Deck {{this.selectedDeck.name}}</h2>
      <div id="deck-buttons">
        <span data-target=".delete-deck-modal" data-toggle="modal" class="close">
          <mat-icon>delete</mat-icon>
        </span>
        <span data-target=".edit-deck-modal" data-toggle="modal" class="close">
          <mat-icon>edit</mat-icon>
        </span>
        <span (click)="this.sizeError=false;" data-target=".revise-deck" data-toggle="modal" class="close">
          <mat-icon>repeat</mat-icon>
        </span>
      </div>
    </div>
    <mat-card>
      <h5>Created: {{this.selectedDeck.creationDate}}</h5>
      <h5>Last revision: {{this.selectedDeck.lastTimeUsed.substring(0, 10)}}</h5>
    </mat-card>
    </div>
    <h3 id="flashcard-title">Flashcards:</h3>
    <div class="row" style="margin-left:-4%;">
      <div *ngFor="let flashcard of getFlashcards()" class="col-xl-3 col-4 p-2">
        <mat-accordion>
          <mat-expansion-panel (closed)="this.showAnswer = false" (opened)="this.showAnswer = true" class="flashcard"
                               style="justify-content:center">
            <mat-expansion-panel-header>
              <h4> Q: {{flashcard.question}}</h4>
            </mat-expansion-panel-header>
            <h4>A: {{flashcard.answer}}</h4>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="flex-container-space-between" style="background-color:#ffffff">
          <span (click)="flashcardClicked(flashcard, false)" data-target=".rate-flashcard-modal" data-toggle="modal" class="close">
            <mat-icon>grade</mat-icon>
          </span>
          <span (click)="flashcardClicked(flashcard, false)" data-target=".edit-flashcard-modal" data-toggle="modal" class="close">
            <mat-icon>edit</mat-icon>
          </span>
          <span (click)="flashcardClicked(flashcard, true)" data-target=".delete-flashcard-modal"  data-toggle="modal" class="close">
            <mat-icon>delete</mat-icon>
          </span>
        </div>
      </div>
    </div>


    <!--Edit a deck-->
    <div aria-hidden="true" aria-labelledby="Edit deck modal" class="modal fade edit-deck-modal" role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Edit deck {{this.selectedDeck.name}}</h2>
          </div>
          <div class="modal-body">
            <form class="modal-input-form text-center border border-light p-5">

              <mat-form-field [formGroup]="deckForm" appearance="outline" class="modal-input-full-width">
                <mat-label class="modal-label">New deck title</mat-label>
                <input formControlName="title" formGroupName="title"
                       id="editDeckTitle" matInput
                       placeholder="Title" required type="text">
                <mat-hint *ngIf="deckForm.controls.title.errors" class="control-label invalid-input-text">
                  Can't be empty!
                </mat-hint>
              </mat-form-field>
            </form>
          </div>
          <div class="modal-footer">
            <button [disabled]="deckForm.controls.title.errors" (click)="saveEdits(this.selectedDeck)" data-dismiss="modal" mat-button mat-dialog-actions
                    type="button">Save
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Delete a deck-->
    <div aria-hidden="true" aria-labelledby="Delete deck modal" class="modal fade delete-deck-modal" role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Deck {{this.selectedDeck.name}}</h2>
          </div>
          <div class="modal-body">
            <h4>Do you really want to delete deck "{{this.selectedDeck.name}}"? </h4>
            <h4> All flashcard within the deck are also going to be deleted. </h4>
          </div>
          <div class="modal-footer">
            <button (click)="deleteDeck(this.selectedDeck.id)" data-dismiss="modal" mat-button mat-dialog-actions
                    type="button">
              Delete
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Revise flashcards from a deck-->
    <div aria-hidden="true" aria-labelledby="Revise modal" class="modal fade revise-deck" role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Deck {{this.selectedDeck.name}} revision</h2>
          </div>
          <div class="modal-body">
            <form *ngIf="this.chooseSize; else reviseBlock" [formGroup]="revisionSizeForm"
                  class="border border-light p-5">

              <h4>Choose number of flashcards for revision:</h4>
              <h5 *ngIf="this.sizeError" class="text-warning">Number of chosen cards not corresponding to the size of
                the deck!</h5>
              <input class="form-control mb-4" formControlName="revisionSize" max="{{this.selectedDeck.size}}" min="0"
                     type="number">

            </form>

            <ng-template #reviseBlock>
              <div *ngIf="this.currentlyRevisedCard">
                <mat-card class="flashcard">
                  <h4> Q: {{this.currentlyRevisedCard.question}}</h4>
                </mat-card>
                <mat-card *ngIf="this.showAnswer" class="flashcard-answer">
                  <h4>A: {{this.currentlyRevisedCard.answer}}</h4>
                </mat-card>
                <div class="flex-container-space-between">

                  <span (click)="this.showAnswer=true" class="close">
                   <mat-icon>preview</mat-icon>
                  </span>
                  <span (click)="getRevisionFlashcard();" *ngIf="this.revisionCounter<this.revisionFlashcards.length" class="close">
                   <mat-icon>arrow_forward_ios</mat-icon>
                  </span>

                </div>
              </div>
            </ng-template>
          </div>
          <div class="modal-footer">
            <button (click)="revise()" mat-button mat-dialog-actions type="button">
              Revise
            </button>
            <button (click)="this.chooseSize=true;" data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Edit a flashcard-->
    <div *ngIf="this.selectedFlashcard" aria-hidden="true" aria-labelledby="Edit flashcard modal"
         class="modal fade edit-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Edit a flashcard</h2>
          </div>
          <div class="modal-body flashcardModalBody">
            <form class="modal-input-form text-center border border-light p-5">

              <!-- Question -->
              <mat-form-field [formGroup]="flashcardForm" appearance="outline" class="modal-input-full-width">
                <mat-label class="modal-label">Edit question</mat-label>
                <input formControlName="question" formGroupName="question"
                       id="editQuestion" matInput
                       placeholder="Your question" required type="text">
                <mat-hint *ngIf="flashcardForm.controls.question.errors" class="control-label invalid-input-text">
                  Can't be empty!
                </mat-hint>
              </mat-form-field>

              <!--Answer-->
              <mat-form-field [formGroup]="flashcardForm" appearance="outline" class="modal-input-full-width">
                <mat-label class="modal-label">Edit answer</mat-label>
                <textarea formControlName="answer" formGroupName="answer"
                          id="editAnswer" matInput
                          placeholder="Your answer" required title="Answer"></textarea>
                <mat-hint *ngIf="flashcardForm.controls.answer.errors" class="control-label invalid-input-text">
                  Can't be empty!
                </mat-hint>
              </mat-form-field>
            </form>
          </div>
          <div class="modal-footer">
            <button [disabled]="flashcardForm.controls.question.errors || flashcardForm.controls.answer.errors" (click)="saveFlashcardEdits(this.selectedFlashcard)" data-dismiss="modal" mat-button
                    mat-dialog-actions type="button">
              Save
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>


    <!--Delete a flashcard-->
    <div *ngIf="this.deleteFlash" aria-hidden="true" aria-labelledby="Delete flashcard modal"
         class="modal fade delete-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Flashcard "{{this.selectedFlashcard.question}}"</h2>
          </div>
          <div class="modal-body">
            <h4>Do you really want to delete this flashcard? </h4>
          </div>
          <div class="modal-footer">
            <button (click)="deleteFlashcard(this.selectedFlashcard.id, this.selectedDeck.id)" data-dismiss="modal"
                    mat-button
                    mat-dialog-actions type="button">
              Delete
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Rate a flashcard-->
    <div aria-hidden="true" aria-labelledby="Rate flashcard modal" class="modal fade rate-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Flashcard</h2>
          </div>
          <div class="modal-body">
            <form class="border border-light p-5">

              <h4>Rate with personal confidence level from 1 to 5:</h4>
              <mat-form-field [formGroup]="flashcardRateForm" appearance="outline" class="modal-input-full-width">
                <mat-label>Confidence level</mat-label>
                <input formControlName="confidenceLevel" matInput max="5" maxlength="1"
                       min="1" minlength="1" type="number">
                <mat-hint *ngIf="validateConfidenceLevelValue()"
                          class="control-label invalid-input-text">
                  Confidence level must be between 1 and 5!
                </mat-hint>
              </mat-form-field>

            </form>
          </div>
          <div class="modal-footer">
            <button (click)="rateFlashcard(this.selectedFlashcard)" data-dismiss="modal" mat-button mat-dialog-actions
                    type="button">
              Rate
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>


  </ng-template>
</div>
