<div class="topPageDiv">
  <div class="row p-2 mb-4">

    <mat-form-field (keyup.enter)="searchDecksByName()" *ngIf="this.viewAll" class="pageTopBarSearchField">
      <mat-placeholder style="color: #FEFFFF">Search decks</mat-placeholder>
      <input matInput style="color: #FEFFFF" title="search" type="search" [(ngModel)]="deckNameSearch"
             (ngModelChange)="searchDecksByName()">
      <button (click)="searchDecksByName()" aria-label="search" mat-button mat-stroked-button matSuffix
              style="border-color: #FEFFFF;">
        <mat-icon style="color: #FEFFFF">search</mat-icon>
      </button>
    </mat-form-field>

    <button (click)="backToAll()" *ngIf="!this.viewAll" class="pageTopBarButton"
            mat-stroked-button>
      Back to all
    </button>
    <button (click)="this.resetDeckForm()" *ngIf="this.viewAll" class="pageTopBarButton"
            data-target=".create-deck-modal" data-toggle="modal"
            mat-stroked-button>
      Create a deck
    </button>
    <button (click)="this.prepareFlashcardCreation(); inputDecks.value=null; inputDocs.value=null;"
            class="pageTopBarButton" data-target=".create-flashcard-modal"
            data-toggle="modal"
            mat-stroked-button>
      Create a flashcard
    </button>
  </div>
  <div *ngIf="!this.viewAll" style="height: 30px;"></div>
  <div *ngIf="this.selectedDeck === undefined" class="sortingDropdownMenuContainer">
    <mat-form-field class="orderByDropdown" appearance="fill">
      <mat-label style="color: #FEFFFF">Order by</mat-label>
      <mat-select value="default" id="bla" class="mat-select" #sortOption>
        <mat-optgroup label="Name">
          <mat-option value="name-asc">a-Z</mat-option>
          <mat-option value="name-desc">Z-a</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Date">
          <mat-option value="name-asc">Newest first</mat-option>
          <mat-option value="name-desc">Oldest first</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<div class="warningMessageContainer" *ngIf="isEmptyDecks()">
  <h2 class="warningMessage">No decks were created!</h2>
</div>
<div class="warningMessageContainer" *ngIf="isEmptySpecificDecks()">
  <h2 class="warningMessage">No decks with "{{this.deckNameSearch}}" were created!</h2>
</div>

<!--Create a deck-->
<div aria-hidden="true" aria-labelledby="Create deck modal" class="modal fade create-deck-modal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Create a new deck for flashcards</h2>
      </div>
      <div class="modal-body">
        <form class="modal-input-form">

          <mat-form-field [formGroup]="deckForm" appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Deck Title</mat-label>
            <input formControlName="title" formGroupName="title"
                   id="deckTitle" matInput
                   placeholder="eg. Math" required type="text">
            <mat-hint *ngIf="deckForm.controls.title.errors" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
          </mat-form-field>
          <mat-checkbox [formControl]="deckFavorite" color="primary"> Favorite deck</mat-checkbox>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="createDeck()" [disabled]="deckForm.controls.title.errors" data-dismiss="modal" mat-button
                mat-dialog-actions type="button">
          Save
        </button>
        <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!--Create a flashcard-->
<div aria-hidden="true" aria-labelledby="Create flashcard modal" class="modal fade create-flashcard-modal"
     role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Create a new flashcard</h2>
      </div>
      <div class="modal-body flashcardModalBody">
        <form [formGroup]="flashcardForm" class="modal-input-form">

          <!-- Question -->
          <mat-form-field appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Question</mat-label>
            <input formControlName="question" formGroupName="question"
                   id="question" matInput
                   placeholder="Your question" required type="text">
            <mat-hint *ngIf="flashcardForm.controls.question.errors" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
          </mat-form-field>
          <!-- Answer -->
          <mat-form-field appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Answer</mat-label>
            <textarea formControlName="answer" formGroupName="answer"
                      id="answer" matInput
                      placeholder="Your answer" required title="Answer"></textarea>
            <mat-hint *ngIf="flashcardForm.controls.answer.errors" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
          </mat-form-field>
          <!--Select deck-->
          <mat-form-field appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Select decks</mat-label>
            <mat-chip-list #chipListDecks aria-label="Deck selection">
              <mat-chip
                *ngFor="let deck of getChosenDecks()"
                [removable]="removable"
                [selectable]="selectable"
                (removed)="updateDeckList(deck.id)">
                <span *ngIf="deck.name.length < 45"> {{deck.name}} </span>
                <span *ngIf="deck.name.length >= 45"> {{deck.name.substring(0, 45)}}... </span>
                <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input (ngModelChange)="searchDecksInModal(inputDecks.value)"
                     [(ngModel)]="deckNameSearchModal"
                     [formControl]="deckSelectControl"
                     [matAutocomplete]="autoDecks"
                     [matChipInputFor]="chipListDecks"
                     aria-label="Deck"
                     matInput
                     #inputDecks
                     placeholder="Deck"
                     type="text">
            </mat-chip-list>
            <mat-autocomplete #autoDecks="matAutocomplete">
              <mat-option (click)="updateDeckList(deck.id);inputDecks.value=null"
                          *ngFor="let deck of getFilteredDecks()"
                          [value]="deck.id">
                {{deck.name}}
              </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="selectedDecks == undefined" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
          </mat-form-field>
          <!--Add document references-->
          <mat-form-field appearance="outline"
                          class="modal-input-full-width">
            <mat-label class="modal-label">Select document references</mat-label>
            <mat-chip-list #chipListRefs aria-label="References selection">
              <mat-chip
                *ngFor="let document of getReferences()"
                [removable]="removable"
                [selectable]="selectable"
                (removed)="updateReferenceList(document.id)">
                <span *ngIf="document.name.length < 45"> {{document.name}} </span>
                <span *ngIf="document.name.length >= 45"> {{document.name.substring(0, 45)}}... </span>
                <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input (ngModelChange)="searchDocumentsInModal(inputDocs.value)"
                     [(ngModel)]="documentNameSearch"
                     [formControl]="documentSelectControl"
                     [matAutocomplete]="autoDocs"
                     [matChipInputFor]="chipListRefs"
                     aria-label="Document"
                     matInput
                     #inputDocs
                     placeholder="Document"
                     type="text">
            </mat-chip-list>
            <mat-autocomplete #autoDocs="matAutocomplete">
                <span *ngFor="let space of getSpaces()">
                 <div *ngIf="isSpaceNotEmpty(space.id)">
                    <h4 style="padding: 5px 0px 0px 15px; color:#808080" class="name-overflow"> Space {{space.name}}</h4>
                    <mat-option (click)="updateReferenceList(document.id);inputDocs.value=null"
                                *ngFor="let document of this.filteredDocuments.get(space.id)"
                                [value]="document.id">
                      {{document.name}}
                    </mat-option>
                   </div>
                 </span>
            </mat-autocomplete>
          </mat-form-field>

        </form>
      </div>
      <div class="modal-footer">
        <button (click)="createFlashcard()"
                [disabled]="flashcardForm.controls.question.errors || flashcardForm.controls.answer.errors || selectedDecks == undefined || selectedDecks.length == 0"
                data-dismiss="modal" mat-button mat-dialog-actions type="button">
          Save
        </button>
        <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="padding-top: 10px;">
  <!-- View all decks -->
  <div *ngIf="viewAll; else elseBlockDetails">
    <div class="row" id="allDiv">

      <div *ngFor="let deck of getDecks()" class="col-xl-3 col-4 p-2">

        <div class="card">

          <div class="card-body">
            <h3 class="card-title wrapper txt-clr-dark name-overflow"> {{deck.name}}</h3>
            <p class="card-text wrapper txt-clr-dark">Size: {{deck.size}}</p>
            <div *ngIf="deck.favorite" class="wrapper"><img src="../../../assets/deck.png" width="90%;">
              <div class="heart">
                <mat-icon matTooltip="Favorite deck">favorite</mat-icon>
              </div>
            </div>
            <div *ngIf="!deck.favorite" class="wrapper"><img src="../../../assets/deck.png" width="90%;"></div>
            <div class="wrapper">
              <button (click)=" this.viewAll=false; loadDeckDetails(deck);" class="btn btn-middle"
                      mat-button>
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--View details of a deck-->
  <ng-template #elseBlockDetails>
    <div id="deck-info">
      <div class="flex-container-space-between">
        <h2 class="name-details txt-clr-dark">
          Deck "{{this.selectedDeck.name}}" <mat-icon style="position: relative; top: 5px" matTooltip="Favorite deck" *ngIf="this.selectedDeck.favorite">favorite</mat-icon>
        </h2>
        <div id="deck-buttons">
        <span class="close" data-target=".delete-deck-modal" data-toggle="modal" matTooltip="Delete deck">
          <mat-icon>delete</mat-icon>
        </span>
          <span class="close" data-target=".edit-deck-modal" data-toggle="modal" matTooltip="Edit deck">
          <mat-icon>edit</mat-icon>
        </span>
          <span (click)="this.sizeError=false; this.resetRevisionSizeForm(); this.showInfo=false;" class="close"
                data-target=".revise-deck" data-toggle="modal" matTooltip="Revise flashcards">
          <mat-icon>repeat</mat-icon>
        </span>
        </div>
      </div>
      <mat-card>
        <h5>Created: {{this.selectedDeck.creationDate}}</h5>
        <h5>Last revision: {{this.selectedDeck.lastTimeUsed.substring(0, 10)}}</h5>
      </mat-card>
    </div>
    <h3 id="flashcard-title">Flashcards:</h3>

    <div class="warningMessageContainer" *ngIf="isEmptyFlashcards()">
      <h2 class="warningMessage">No flashcards were created for this deck!</h2>
    </div>

    <div class="row" style="margin-left:-4%;">
      <div *ngFor="let flashcard of getFlashcards()" class="col-xl-3 col-4 p-2">
        <mat-accordion>
          <mat-expansion-panel (closed)="this.showAnswer = false" (opened)="this.showAnswer = true" class="flashcard"
                               style="justify-content:center">
            <mat-expansion-panel-header>
              <mat-title>
                <h4 *ngIf="flashcard.question.length<=12"> Flashcard {{flashcard.question}}</h4>
                <h4 *ngIf="flashcard.question.length>12"> Flashcard {{flashcard.question.substring(0, 12)}}...</h4>
              </mat-title>
            </mat-expansion-panel-header>
            <h4> Q: {{flashcard.question}}</h4>
            <h4>A: {{flashcard.answer}}</h4>
          </mat-expansion-panel>
        </mat-accordion>
        <div class="flex-container-space-between" style="background-color:#ffffff">
          <span (click)="flashcardClicked(flashcard, false)" class="close" data-target=".rate-flashcard-modal"
                data-toggle="modal" matTooltip="Rate flashcard">
            <mat-icon>grade</mat-icon>
          </span>
          <span (click)="flashcardClicked(flashcard, false)" class="close" data-target=".references-flashcard-modal"
                data-toggle="modal" matTooltip="See references">
            <mat-icon>attach_file</mat-icon>
          </span>
          <span (click)="flashcardClicked(flashcard, false)" class="close" data-target=".edit-flashcard-modal"
                data-toggle="modal" matTooltip="Edit flashcard">
            <mat-icon>edit</mat-icon>
          </span>
          <span (click)="flashcardClicked(flashcard, false); searchDecksInModal('')" class="close" data-target=".move-flashcard-modal"
                data-toggle="modal" matTooltip="Move or copy to another deck">
            <mat-icon>move_to_inbox</mat-icon>
          </span>
          <span (click)="flashcardClicked(flashcard, true)" class="close" data-target=".delete-flashcard-modal"
                data-toggle="modal" matTooltip="Remove flashcard">
            <mat-icon>delete</mat-icon>
          </span>
        </div>
      </div>
    </div>


    <!--Edit a deck-->
    <div aria-hidden="true" aria-labelledby="Edit deck modal" class="modal fade edit-deck-modal" role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title name-details">Edit deck "{{this.selectedDeck.name}}"</h2>
          </div>
          <div class="modal-body flashcardModalBody">
            <form class="modal-input-form">

              <mat-form-field [formGroup]="deckEditForm" appearance="outline" class="modal-input-full-width">
                <mat-label class="modal-label">New deck title</mat-label>
                <input formControlName="title" formGroupName="title"
                       id="editDeckTitle" matInput
                       placeholder="Title" required type="text">
                <mat-hint *ngIf="deckEditForm.controls.title.errors" class="control-label invalid-input-text">
                  Can't be empty!
                </mat-hint>
              </mat-form-field>
              <mat-checkbox [formControl]="this.deckFavorite" color="primary"> Favorite Deck</mat-checkbox>
            </form>
          </div>
          <div class="modal-footer">
            <button (click)="saveEdits(this.selectedDeck)" [disabled]="deckEditForm.controls.title.errors"
                    data-dismiss="modal" mat-button mat-dialog-actions
                    type="button">Save
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Delete a deck-->
    <div aria-hidden="true" aria-labelledby="Delete deck modal" class="modal fade delete-deck-modal" role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title name-details">Deck "{{this.selectedDeck.name}}"</h2>
          </div>
          <div class="modal-body">
            <h4 class="name-details">Do you really want to delete deck "{{this.selectedDeck.name}}"? </h4>
            <h4> All flashcard within the deck that don't belong to another deck will be lost. </h4>
          </div>
          <div class="modal-footer">
            <button (click)="deleteDeck(this.selectedDeck.id)" data-dismiss="modal" mat-button mat-dialog-actions
                    type="button">
              Delete
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Revise flashcards from a deck-->
    <div aria-hidden="true" aria-labelledby="Revise modal" class="modal fade revise-deck" role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title name-details">Deck "{{this.selectedDeck.name}}" revision</h2>
          </div>
          <div class="modal-body border border-light p-5">

            <form *ngIf="this.chooseSize; else reviseBlock" [formGroup]="revisionSizeForm">

              <div class="flex-grid">
                <mat-radio-button (change)="this.chosenOption=1" *ngIf="this.dueDateFlashcards"
                                  [checked]="this.chosenOption==1"
                                  [disabled]="this.dueDateFlashcards.length==0"
                                  style="padding-bottom: 15px;" value="1">Revise all cards that are
                  due today: <strong>{{this.dueDateFlashcards.length}}</strong></mat-radio-button>
                <button class="close" matTooltip="Our app is using SM-2 algorithm to schedule flashcard revision."
                        matTooltipPosition="above" (click)="showInfo=true"
                        style="margin: -15px 0px 0px 10px;">
                  <mat-icon>help</mat-icon>
                </button>
              </div>
              <div *ngIf="showInfo" style="margin-bottom: 10px; border: 1px solid #000000">
                <h5 style="padding: 5px 10px 0px 10px;">
                  SM-2 is a <strong>spaced repetition algorithm</strong> that calculates how long to wait before showing a
                  flashcard again based on the how easy the information from the card was remembered during the last
                  revision.
                  <br>
                  <strong>More difficult and newly introduced flashcards are shown more frequently and older and less
                    difficult cards less frequently.</strong>
                </h5>
              </div>

              <div class="flex-grid">
                <mat-radio-button (change)="this.chosenOption=2" style="padding-top: 10px; padding-right: 5px;"
                                  [checked]="this.chosenOption==2"
                                  value="2">Choose a different number of flashcards
                  for revision:
                </mat-radio-button>
                <input class="form-control mb-4" formControlName="revisionSize" max="{{this.selectedDeck.size}}" min="0"
                       style="width:15%;" type="number">
              </div>
            </form>
            <h5 *ngIf="this.sizeError" class="text-warning">Number of chosen cards not applicable to the deck!</h5>
            <h5 *ngIf="this.optionError" class="text-warning">You must choose an option!</h5>

            <ng-template #reviseBlock>
              <div *ngIf="this.currentlyRevisedCard">
                <h4 style="text-align:center">Flashcard <strong>{{this.revisionCounter}}
                  /{{this.revisionFlashcards.length}}</strong>
                </h4>
                <mat-card class="flashcard">
                  <h4> Q: {{this.currentlyRevisedCard.question}}</h4>
                </mat-card>
                <mat-card *ngIf="this.showAnswer" class="flashcard-answer">
                  <h4>A: {{this.currentlyRevisedCard.answer}}</h4>
                </mat-card>
                <mat-card *ngIf="this.showAnswer && this.currentlyRevisedCard.documentReferences.length!=0"
                          class="flashcard-reference"
                          style="display:flex; justify-content: space-around; align-items: center;">
                  <h4>References:</h4>
                  <div>
                    <ul *ngFor="let document of this.currentlyRevisedCard.documentReferences">
                      <li>
                        <button (click)="this.loadFile(document);" mat-button type="button">{{document.name}}</button>
                      </li>
                    </ul>
                  </div>
                </mat-card>
                <div class="flex-container-space-between">

                  <span (click)="this.showAnswer=true" *ngIf="!this.showAnswer" class="close" matTooltip="Show answer">
                   <mat-icon>visibility</mat-icon>
                  </span>
                  <span (click)="this.showAnswer=false" *ngIf="this.showAnswer" class="close" matTooltip="Hide answer">
                   <mat-icon>visibility_off</mat-icon>
                  </span>
                  <div>
                    <ngb-rating [(rate)]="this.currentlyRevisedCard.confidenceLevel" [max]="5"
                              [readonly]="false" matTooltip="Rating your confidence level influences how often a flashcard appears during revision"
                                style="margin-top:20px; font-size:40px"></ngb-rating>
                  </div>
                  <span (click)="getRevisionFlashcard();" *ngIf="this.revisionCounter<this.revisionFlashcards.length"
                        class="close"
                        matTooltip="Warning: Not changing the existing confidence level counts as rating with the same confidence level again.">
                   <mat-icon>arrow_forward_ios</mat-icon>
                  </span>
                  <span *ngIf="this.revisionCounter>=this.revisionFlashcards.length" style="width:23px;"></span>

                </div>
              </div>
            </ng-template>
          </div>
          <div class="modal-footer">
            <button (click)="revise()" [hidden]="!this.chooseSize" mat-button mat-dialog-actions type="button">
              Revise
            </button>
            <button
              (click)="rateFlashcardInRevision(this.currentlyRevisedCard, this.currentlyRevisedCard.confidenceLevel)"
              matTooltip="Confidence level of a flashcard influences how often it will appear in future revisions."
              [hidden]="this.chooseSize" mat-button mat-dialog-actions type="button">
              Rate
            </button>
            <button (click)="this.chooseSize=true; this.loadDeckDetails(this.selectedDeck)" data-dismiss="modal"
                    mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Edit a flashcard-->
    <div *ngIf="this.selectedFlashcard" aria-hidden="true" aria-labelledby="Edit flashcard modal"
         class="modal fade edit-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Edit a flashcard</h2>
          </div>
          <div class="modal-body flashcardModalBody">
            <form class="modal-input-form text-center border border-light p-5">

              <!-- Question -->
              <mat-form-field [formGroup]="flashcardEditForm" appearance="outline" class="modal-input-full-width" style="max-height: 200px; overflow-y:a auto;">
                <mat-label class="modal-label">Edit question</mat-label>
                <textarea formControlName="question" formGroupName="question"
                       id="editQuestion" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
                          placeholder="Your question" required type="text"></textarea>
                <mat-hint *ngIf="flashcardEditForm.controls.question.errors" class="control-label invalid-input-text">
                  Can't be empty!
                </mat-hint>
              </mat-form-field>

              <!--Answer-->
              <mat-form-field [formGroup]="flashcardEditForm" appearance="outline" class="modal-input-full-width" style="max-height: 400px;   overflow-y: auto;">
                <mat-label class="modal-label">Edit answer</mat-label>
                <textarea formControlName="answer" formGroupName="answer"
                          id="editAnswer" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"
                          placeholder="Your answer" required title="Answer"></textarea>
                <mat-hint *ngIf="flashcardEditForm.controls.answer.errors" class="control-label invalid-input-text">
                  Can't be empty!
                </mat-hint>
              </mat-form-field>
            </form>
          </div>
          <div class="modal-footer">
            <button (click)="saveFlashcardEdits(this.selectedFlashcard)"
                    [disabled]="flashcardEditForm.controls.question.errors || flashcardEditForm.controls.answer.errors"
                    data-dismiss="modal" mat-button
                    mat-dialog-actions type="button">
              Save
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>


    <!--Delete a flashcard-->
    <div *ngIf="this.deleteFlash" aria-hidden="true" aria-labelledby="Delete flashcard modal"
         class="modal fade delete-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title name-details">Flashcard "{{this.selectedFlashcard.question}}"</h2>
          </div>
          <div class="modal-body">
            <h4>Do you really want to remove this flashcard from the deck? </h4>
          </div>
          <div class="modal-footer">
            <button (click)="deleteFlashcard(this.selectedFlashcard.id, this.selectedDeck.id)" data-dismiss="modal"
                    mat-button
                    mat-dialog-actions type="button">
              Delete
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Rate a flashcard-->
    <div *ngIf="this.selectedFlashcard" aria-hidden="true" aria-labelledby="Rate flashcard modal"
         class="modal fade rate-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title name-details">Rate flashcard "{{this.selectedFlashcard.question}}"</h2>
          </div>
          <div class="modal-body">
            <form class="border border-light p-5">
              <ngb-rating [(rate)]="currentRate" [max]="5" [readonly]="false"></ngb-rating>
              <h3 style="margin-top: 20px"> Rate personal confidence level from 1 to 5 by choosing the appropriate
                number of stars!</h3>
            </form>
          </div>
          <div class="modal-footer">
            <button (click)="rateFlashcard(this.selectedFlashcard, currentRate)" data-dismiss="modal" mat-button
                    mat-dialog-actions
                    type="button">
              Rate
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Move or copy a flashcard-->
    <div *ngIf="this.selectedFlashcard" aria-hidden="true" aria-labelledby="Move/copy flashcard modal"
         class="modal fade move-flashcard-modal" data-backdrop="static" data-keyboard="false"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title name-details">Flashcard "{{this.selectedFlashcard.question}}"</h2>
          </div>
          <div class="modal-body">

            <mat-form-field appearance="outline" class="modal-input-full-width">
              <mat-label class="modal-label">Select decks</mat-label>
              <mat-chip-list #chipListDecksChange aria-label="Deck selection">
                <mat-chip
                  *ngFor="let deck of getChosenDecks()"
                  [removable]="removable"
                  [selectable]="selectable"
                  (removed)="updateDeckList(deck.id)">
                  <span *ngIf="deck.name.length < 45"> {{deck.name}} </span>
                  <span *ngIf="deck.name.length >= 45"> {{deck.name.substring(0, 45)}}... </span>
                  <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input (ngModelChange)="searchDecksInModal(inputDecksChange.value)"
                       [(ngModel)]="deckNameMoveModal"
                       [formControl]="deckMoveControl"
                       [matAutocomplete]="autoDecksChange"
                       [matChipInputFor]="chipListDecksChange"
                       aria-label="Deck"
                       matInput
                       #inputDecksChange
                       placeholder="Deck"
                       type="text">
              </mat-chip-list>
              <mat-autocomplete #autoDecksChange="matAutocomplete">
                <mat-option (click)="updateDeckList(deck.id);inputDecksChange.value=null"
                            *ngFor="let deck of getUnassignedFilteredDecks()"
                            [value]="deck.id">
                  {{deck.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

          </div>
          <div class="modal-footer">
            <button [disabled]="selectedDecks == undefined || selectedDecks.length == 0"
                    (click)="moveFlashcard(this.selectedFlashcard); inputDecksChange.value=null"
                    data-dismiss="modal" mat-button
                    mat-dialog-actions type="button">
              Move
            </button>
            <button [disabled]="selectedDecks == undefined || selectedDecks.length == 0"
                    (click)="copyFlashcard(this.selectedFlashcard); inputDecksChange.value=null;"
                    data-dismiss="modal" mat-button
                    mat-dialog-actions type="button">
              Copy
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button" (click)="inputDecksChange.value=null">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--See references of a flashcard-->
    <div *ngIf="this.selectedFlashcard" aria-hidden="true" aria-labelledby="See references modal"
         class="modal fade references-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title name-details">Flashcard "{{this.selectedFlashcard.question}}"</h2>
          </div>
          <div class="modal-body">

            <div class="flex-container-space-between">
              <h4 *ngIf="this.selectedFlashcard.documentReferences.length!=0">References to documents:</h4>
              <h4 *ngIf="this.selectedFlashcard.documentReferences.length==0">No references to documents.</h4>
              <span (click)="prepareEditRef(); inputDocsChange.value=null" *ngIf="!this.editRef" class="close"
                    matTooltip="Edit references"
                    style="margin-right:0px;"><mat-icon>edit</mat-icon></span>
            </div>
            <ul *ngFor="let document of this.selectedFlashcard.documentReferences">
              <li>
                <button (click)="this.loadFile(document);" data-dismiss="modal" mat-button type="button">
                  {{document.name}}
                </button>
              </li>
            </ul>

            <form [hidden]="!this.editRef" class="modal-input-form">

              <h4>Choose references:</h4>
              <mat-form-field appearance="outline"
                              class="modal-input-full-width">
                <mat-label class="modal-label">Select document references</mat-label>
                <mat-chip-list #chipListRefsEdit aria-label="References selection">
                  <mat-chip
                    *ngFor="let document of getReferences()"
                    [removable]="removable"
                    [selectable]="selectable"
                    (removed)="updateReferenceList(document.id)">
                    <span *ngIf="document.name.length < 45"> {{document.name}} </span>
                    <span *ngIf="document.name.length >= 45"> {{document.name.substring(0, 45)}}... </span>
                    <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input (ngModelChange)="searchDocumentsInModal(inputDocsChange.value)"
                         [(ngModel)]="documentNameSearchEdit"
                         [formControl]="documentSelectControlEdit"
                         [matAutocomplete]="autoEdit"
                         [matChipInputFor]="chipListRefsEdit"
                         aria-label="Document"
                         matInput
                         #inputDocsChange
                         placeholder="Document"
                         type="text">
                </mat-chip-list>
                <mat-autocomplete #autoEdit="matAutocomplete">
                  <div>
                   <span *ngFor="let space of getSpaces()">
                    <h4 *ngIf="isSpaceNotEmpty(space.id)"
                        style="padding: 5px 0px 0px 15px; color:#808080" class="name-overflow"> Space {{space.name}}</h4>
                      <mat-option (click)="updateReferenceList(document.id);inputDocsChange.value=null"
                                  *ngFor="let document of this.filteredDocuments.get(space.id)"
                                  [value]="document.id">
                        {{document.name}}
                      </mat-option>
                   </span>
                  </div>
                </mat-autocomplete>
              </mat-form-field>

            </form>

          </div>
          <div class="modal-footer">
            <button (click)="editReferences(this.selectedFlashcard)" *ngIf="this.editRef" mat-button mat-dialog-actions
                    type="button">
              Save
            </button>
            <button data-dismiss="modal" mat-button mat-dialog-actions type="button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>


  </ng-template>
</div>
