.page-title {
  font-size: 3em;
  font-weight: lighter;
  background-color: #2b7a78;
}

.topPageDiv {
  padding-bottom: 30px !important;  // necessary because of global style changes for orderBy in spaces
}

.modal-label {
  color: #5f6368;
  width: 100%;
}

.txt-clr-dark {
  color: #2b7a78;
}

.btn-middle {
  background-color: #3aafa9;
  color: #ffffff;
}

#deck-buttons > span {
  margin-left: 10px;
}

.wrapper{
  text-align:center;
}

.flashcardModalBody {
  overflow-y:inherit !important;
}

#deck-info {
  background-color:#ffffff;
  padding: 5px 10px 10px 10px;
}

.flex-grid {
  display:flex;
}

.flex-container-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-container-space-between > span {
  margin-left: 3%;
  margin-right: 3%;
}

.flex-container-space-around {
  display: flex;
  justify-content: space-around;
}

#flashcard-title {
  margin-top:10px;
  color: #17252A;
}

.flashcard {
  background-color: #3aafa9;
  color: #ffffff;
  text-align:center;
}

.flashcard-answer {
  background-color: #2b7a78;
  color: #ffffff;
  text-align:center;
}

.flashcard-reference {
  background-color:#def2f1;
  color: #2b7a78;
  text-align:center;
}

::ng-deep .mat-expansion-panel{
  background-color: #3aafa9;
  color: #ffffff;
  text-align:center;
}

::ng-deep .mat-expansion-panel-body{
  background-color: #2b7a78;
  color: #ffffff;
  text-align:center;
}

::ng-deep .mat-expansion-panel-body > h4 {
  margin-top: 20px;
}

ngb-rating {
  font-size: 90px;
  color: #2b7a78;
  background: #ffffff;
}

mat-checkbox {
  margin-top: 5px;
  margin-left: 3px;
}

.heart {
  position: absolute;
  top: 125px;
  left: 30px;
  color: #3AAFA9;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
      background-color: #3aafa9 !important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
     border-color: #3aafa9 !important; /*outer ring color change*/
}


