<div class="page-title-wrapper">
  <h1 class="page-title">Flashcard Decks</h1>
</div>

<div class="mt-4 container">
  <div class="row p-2 mb-4" style="margin-bottom: 0px">
    <button (click)="this.viewAll=true;" *ngIf="!this.viewAll" class="btn btn-sm mr-4 button-dark" mat-raised-button>
      Back to all
    </button>
    <button *ngIf="this.viewAll" class="btn btn-sm mr-4 button-light" data-target=".create-deck-modal"
            data-toggle="modal" mat-raised-button>
      Create a deck
    </button>
    <button (click)="resetDecks();" class="btn btn-sm mr-4 button-light" data-target=".create-flashcard-modal"
            data-toggle="modal"
            mat-raised-button>
      Create a flashcard
    </button>
  </div>

  <mat-divider></mat-divider>

  <!--Create a deck-->
  <div aria-hidden="true" aria-labelledby="Create deck modal" class="modal fade create-deck-modal" role="dialog"
       tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button aria-label="Close" class="close" data-dismiss="modal" mat-button>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="deckForm" action="#!" class="text-center border border-light p-5">

            <p class="h4 mb-4">New flashcard deck</p>
            <input class="form-control mb-4" formControlName="title" placeholder="Title" type="text">

          </form>
        </div>
        <div class="modal-footer">
          <button (click)="createDeck()" class="btn btn-middle float-right" data-dismiss="modal" mat-button>Save
          </button>
          <button class="btn btn-secondary" data-dismiss="modal" mat-button>Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--Create a flashcard-->
  <div aria-hidden="true" aria-labelledby="Create flashcard modal" class="modal fade create-flashcard-modal"
       role="dialog"
       tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button aria-label="Close" class="close" data-dismiss="modal" mat-button>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body flashcardModalBody">
          <form [formGroup]="flashcardForm" action="#!" class="text-center border border-light p-5">

            <p class="h4 mb-4">New flashcard</p>
            <input class="form-control mb-4" formControlName="question" placeholder="Question" type="text">
            <input class="form-control mb-4" formControlName="answer" placeholder="Answer" type="text">
            <label>Choose a deck:</label>
            <!--select (change)="deckClicked($event.target.value)" class="form-control select">
              <option hidden value="null">Deck</option>
              <option *ngFor="let deck of getDecks()" value="{{deck.id}}">{{deck.name}}</option>
            </select-->
            <span class="example-list-section">
                <ul>
                  <li *ngFor="let deck of getDecks()">
                    <mat-checkbox (change)="updateDeckList($event.source.value)" [value]="deck.id" [checked]="deck.id==this.selectedDeckId">
                      {{deck.name}}
                    </mat-checkbox>
                  </li>
                </ul>
              </span>
          </form>
        </div>
        <div class="modal-footer">
          <button (click)="createFlashcard()" class="btn btn-middle float-right" data-dismiss="modal" mat-button>Save
          </button>
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- View all decks -->
  <div *ngIf="viewAll; else elseBlockDetails">
    <div class="row" id="allDiv">

      <div *ngFor="let deck of getDecks()" class="col-xl-3 col-4 p-2">

        <div class="card">

          <div class="card-body">
            <h5 class="card-title wrapper txt-clr-dark">Title: {{deck.name}}</h5>
            <p class="card-text wrapper txt-clr-dark">Size: {{deck.size}}</p>
            <div class="wrapper"><img src="../../../assets/deck.png" width="90%;"></div>
            <div class="wrapper">
              <button (click)=" this.viewAll=false; loadFlashcards(deck);" class="btn btn-middle"
                      mat-button>
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--View details of a deck-->
  <ng-template #elseBlockDetails>
    <div>
      <div class="flex-container-space-between">
        <h2 class="txt-clr-dark">Deck {{this.selectedDeck.name}}</h2>
        <div id="deck-buttons">
          <button (click)="this.sizeError=false;" class="btn btn-sm button-light" data-target=".revise-deck"
                  data-toggle="modal"
                  mat-button>Revise
          </button>
          <button class="btn btn-sm button-light" data-target=".edit-deck-modal" data-toggle="modal" mat-button>Edit
          </button>
          <button class="btn btn-sm button-light" data-target=".delete-deck-modal" data-toggle="modal" mat-button>Delete
          </button>
        </div>
      </div>
      <div>
        <h5>Created: {{this.selectedDeck.creationDate}}</h5>
        <h5>Last time revised: {{this.selectedDeck.lastTimeUsed.substring(0,10)}}</h5>
        <h3 class="my-title">Flashcards:</h3>
      </div>
      <div class="row">
        <div *ngFor="let flashcard of getFlashcards()" class="col-xl-3 col-4 p-2">
          <mat-accordion>
            <mat-expansion-panel (closed)="this.showAnswer = false" (opened)="this.showAnswer = true" class="flashcard"
                                 style="justify-content:center">
              <mat-expansion-panel-header>
                <h4> Q: {{flashcard.question}}</h4>
              </mat-expansion-panel-header>
              <h4>A: {{flashcard.answer}}</h4>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="flex-container-space-between">
            <button (click)="flashcardClicked(flashcard, false)" class="btn btn-sm" data-target=".rate-flashcard-modal"
                    data-toggle="modal"
                    mat-button>Rate
            </button>
            <button (click)="flashcardClicked(flashcard, false)" class="btn btn-sm" data-target=".edit-flashcard-modal"
                    data-toggle="modal"
                    mat-button>Edit
            </button>
            <button (click)="flashcardClicked(flashcard, true)" class="btn btn-sm" data-target=".delete-flashcard-modal"
                    data-toggle="modal"
                    mat-button>Delete
            </button>
          </div>
        </div>
      </div>
    </div>


    <!--Edit a deck-->
    <div aria-hidden="true" aria-labelledby="Edit deck modal" class="modal fade edit-deck-modal" role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Deck {{this.selectedDeck.name}}</h4>
            <button aria-label="Close" class="close" data-dismiss="modal" mat-button>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="deckEditForm" action="#!" class="text-center border border-light p-5">
              <h4>New name for the deck:</h4>
              <input class="form-control mb-4" formControlName="title" type="text">

            </form>
          </div>
          <div class="modal-footer">
            <button (click)="saveEdits(this.selectedDeck)" class="btn btn-middle" data-dismiss="modal" mat-button>Save
            </button>
            <button class="btn btn-secondary" data-dismiss="modal" mat-button>Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Delete a deck-->
    <div aria-hidden="true" aria-labelledby="Delete deck modal" class="modal fade delete-deck-modal" role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Deck {{this.selectedDeck.name}}</h2>
            <button aria-label="Close" class="close" data-dismiss="modal" mat-button>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>Do you really want to delete deck "{{this.selectedDeck.name}}"? </h3>
            <h4> All flashcard within the deck are also going to be deleted. </h4>
          </div>
          <div class="modal-footer">
            <button (click)="deleteDeck(this.selectedDeck.id)" class="btn btn-middle" data-dismiss="modal" mat-button>
              Delete
            </button>
            <button class="btn btn-secondary" data-dismiss="modal" mat-button>Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Revise flashcards from a deck-->
    <div aria-hidden="true" aria-labelledby="Revise modal" class="modal fade revise-deck" role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Deck {{this.selectedDeck.name}}</h4>
            <button aria-label="Close" class="close" data-dismiss="modal" mat-button>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form *ngIf="this.chooseSize; else reviseBlock" [formGroup]="revisionSizeForm" action="#!"
                  class="text-center border border-light p-5">
              <h4>Choose number of flashcards for revision:</h4>
              <h5 *ngIf="this.sizeError" class="text-warning">Number of chosen cards not corresponding to the size of
                the deck!</h5>
              <input class="form-control mb-4" formControlName="revisionSize" max="{{this.selectedDeck.size}}" min="0"
                     type="number">

            </form>

            <ng-template #reviseBlock>
              <div *ngIf="this.currentlyRevisedCard">
                <mat-card class="flashcard">
                  <h4> Q: {{this.currentlyRevisedCard.question}}</h4>
                </mat-card>
                <mat-card *ngIf="this.showAnswer" class="flashcard-answer">
                  <h4>A: {{this.currentlyRevisedCard.answer}}</h4>
                </mat-card>
                <button (click)="this.showAnswer=true" class="btn button-light" mat-button>Show answer</button>
                <button (click)="getRevisionFlashcard();" *ngIf="this.revisionCounter<this.revisionFlashcards.length"
                        class="btn button-light"
                        mat-button>Next
                </button>
              </div>
            </ng-template>
          </div>
          <div class="modal-footer">
            <button (click)="revise()" class="btn btn-middle" mat-button>Revise</button>
            <button (click)="this.chooseSize=true;" class="btn btn-secondary" data-dismiss="modal" mat-button>Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Edit a flashcard-->
    <div *ngIf="this.selectedFlashcard" aria-hidden="true" aria-labelledby="Edit flashcard modal"
         class="modal fade edit-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Flashcard</h4>
            <button aria-label="Close" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="flashcardEditForm" action="#!" class="text-center border border-light p-5">
              <label>Question:</label>
              <input class="form-control mb-4" formControlName="question" type="text">
              <label>Answer:</label>
              <input class="form-control mb-4" formControlName="answer" type="text">
            </form>
          </div>
          <div class="modal-footer">
            <button (click)="saveFlashcardEdits(this.selectedFlashcard)" class="btn btn-middle" data-dismiss="modal"
                    mat-button>Save
            </button>
            <button class="btn btn-secondary" data-dismiss="modal" mat-button>Close</button>
          </div>
        </div>
      </div>
    </div>


    <!--Delete a flashcard-->
    <div *ngIf="this.deleteFlash" aria-hidden="true" aria-labelledby="Delete flashcard modal"
         class="modal fade delete-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Flashcard</h3>
            <button aria-label="Close" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>Do you really want to delete this flashcard? </h4>
          </div>
          <div class="modal-footer">
            <button (click)="deleteFlashcard(this.selectedFlashcard.id, this.selectedFlashcard.deckDTO.id)"
                    class="btn btn-middle" data-dismiss="modal"
                    mat-button>Delete
            </button>
            <button class="btn btn-secondary" data-dismiss="modal" mat-button>Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--Rate a flashcard-->
    <div aria-hidden="true" aria-labelledby="Rate flashcard modal" class="modal fade rate-flashcard-modal"
         role="dialog"
         tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Flashcard</h4>
            <button aria-label="Close" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="flashcardRateForm" action="#!" class="text-center border border-light p-5">
              <label>Rate with personal confidence level from 1 to 5:</label>
              <input class="form-control mb-4" formControlName="confidenceLevel" max="5" min="1" type="number">
            </form>
          </div>
          <div class="modal-footer">
            <button (click)="rateFlashcard(this.selectedFlashcard)" class="btn btn-middle" data-dismiss="modal"
                    mat-button>Rate
            </button>
            <button class="btn btn-secondary" data-dismiss="modal" mat-button>Close</button>
          </div>
        </div>
      </div>
    </div>


  </ng-template>


</div>
