.page-title {
  font-size: 3em;
  font-weight: lighter;
}

.txt-clr-dark {
  color: #2b7a78;
}

.btn-middle {
  background-color: #3aafa9;
  color: #ffffff;
}

#deck-buttons > button {
  margin-left: 5px;
}

.wrapper{
  text-align:center;
}

.flashcardModalBody {
  overflow-y:inherit !important;
}

.flex-container-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-container-space-between > button {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #def2f1;
}

.flashcard {
  background-color: #3aafa9;
  color: #ffffff;
  text-align:center;
}

.flashcard-answer {
  background-color: #2b7a78;
  color: #ffffff;
  text-align:center;
}

::ng-deep .mat-expansion-panel{
  background-color: #3aafa9;
  color: #ffffff;
  text-align:center;
}

::ng-deep .mat-expansion-panel-body{
  background-color: #2b7a78;
  color: #ffffff;
  text-align:center;
}

::ng-deep .mat-expansion-panel-body > h4 {
  margin-top: 20px;
}


