<div class="pt-5" id="resetWrapper">
  <div class="row">
    <div class="col-md-6 mx-auto" id="formResetWrapper">
      <!-- Default form for password reset -->
      <form class="text-center border border-light p-5" [formGroup]="emailCheckForm" (ngSubmit)="checkEmailAndRecover()" id="resetBox">

        <p class="h4 mb-4">Enter email for reset</p>

        <div class="form-group">
          <!-- Email -->
          <mat-form-field appearance="outline" class="modal-input-full-width">
            <mat-label class="modal-label">Email</mat-label>
            <input formControlName="email" formGroupName="email"
                   id="email" matInput
                   placeholder="Your email" required type="text">
            <mat-hint *ngIf="emailCheckForm.controls.email.errors && emailCheckForm.controls.email.errors.required" class="control-label invalid-input-text">
              Can't be empty!
            </mat-hint>
            <mat-hint *ngIf="emailCheckForm.controls.email.errors && !emailCheckForm.controls.email.errors.required" class="control-label invalid-input-text">
              Invalid email form!
            </mat-hint>
          </mat-form-field>
        </div>

        <!-- Reset password -->
        <button mat-raised-button type="button" (click)="checkEmailAndRecover()">Reset password</button>

        <!-- Register -->
        <div id="registerDiv">
          <p style="margin-bottom: 0em">Not a member?</p>
          <a mat-button type="button"  (click)="navigateToRegister()">Register</a>
        </div>
      </form>

    </div>
  </div>
</div>


